{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Social Platform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    {% if app.user %}
                    <li>
                        <a class="nav-link" href="{{ path('user_dashboard') }}">Dashboard</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('registration') }}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>


        {% block body %}{% endblock %} 
        {% block javascripts %}{% endblock %}
    </body>
</html>
