{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            {{ include('post/_profile.html.twig') }}
            {% block main %}{% endblock %}
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/post.css') }}" rel="stylesheet"/>
{% endblock %}